click==6.7
cryptography==1.7.1
decorator==4.0.11
enum34==1.1.6
feedparser==5.2.1
Flask==0.12.2
idna==2.2
imageio==2.1.2
ipaddress==1.0.17
itsdangerous==0.24
Jinja2==2.10
keyring==10.1
keyrings.alt==1.3
luma.core==1.7.2
luma.led-matrix==1.0.8
MarkupSafe==1.0
max7219==0.2.3
monotonic==1.4
moviepy==0.2.3.2
numpy==1.14.2
Pillow==5.1.0
pyasn1==0.1.9
pycrypto==2.6.1
pygobject==3.22.0
pyxdg==0.25
requests==2.11.1
requests-toolbelt==0.7.0
rpi-ws281x==3.1.0
RPi.GPIO==0.6.3
SecretStorage==2.3.1
six==1.10.0
smbus2==0.2.0
spidev==3.2
tqdm==4.11.2
Werkzeug==0.14.1
ws2812==1.0.0
